This notebook takes the data extracted from the MIMIC-III database and accomplishes the following tasks:

1. Filter out :

* Patients outside the age range of 18 - 90
* Patients that are not on mechanical ventillation
* Irrelevant columns

2. Rename columns

--------------------------------------------------------------------------------

Input: final_dataset.csv

Output : filtered_data.csv

# Load Libraries & Data

In [1]:
# mount google drive
from google.colab import drive
drive.mount('/content/gdrive')

# change the working directory
%cd /content/gdrive/My Drive/Capstone Project - Dimension Reduction/1. Flat File/data

Mounted at /content/gdrive
/content/gdrive/My Drive/Capstone Project - Dimension Reduction/1. Flat File/data

In [5]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [6]:
extract = pd.read_csv('final_dataset.csv')
extract.head()

,subject_id,hadm_id,icustay_id,hosp_admittime,hosp_dischtime,icu_seq,dob,dod,icu_intime,icu_outtime,gender,age_hosp_in,hospital_expire_flag,hypertension_uncomplicated,hypertension_complicated,diabetes_uncomplicated,diabetes_complicated,malignancy,hematologic,metastasis,peripheral_vascular,hypothyroidism,congestive_heart_failure,stroke,liver_disease,sapsii,sofa,oasis,sepsis,organ_failure,sev_resp_fail,sev_coag_fail,sev_liver_fail,sev_cardio_fail,sev_cns_fail,sev_ren_fail,respiratory_dys,cardiovascular_dys,renal_dys,hematologic_dys,metabolic_dys,neurologic_dys,heartrate_max,heartrate_min,heartrate_mean,meanbp_max,meanbp_min,meanbp_mean,sysbp_max,sysbp_min,sysbp_mean,diasbp_max,diasbp_min,diasbp_mean,tempc_max,tempc_min,tempc_mean,lactate_max,lactate_min,lactate_mean,ph_max,ph_min,ph_mean,glucose_max,glucose_min,glucose_mean,wbc_max,wbc_min,wbc_mean,bun_max,bun_min,bun_mean,creatinine_max,creatinine_min,creatinine_mean,hemoglobin_max,hemoglobin_min,hemoglobin_mean,mechvent,vent_dur_hours,rrt
0,3,145834,211552,2101-10-20 19:08:00,2101-10-31 13:58:00,1,2025-04-11 00:00:00,2102-06-14 00:00:00,2101-10-20 19:10:11,2101-10-26 20:43:09,M,76.5268,0,0,0,0,0,0,0,0,0,0,1,0,0,79,7,57,1,1,0,0,0,1,0,0,0,1,1,0,0,0,168.0,75.0,111.785714,259.000,40.000000,75.692812,217.0,64.0,102.960000,74.0,28.0,55.720000,37.599998,36.200001,37.002881,8.8,2.1,4.87,7.59,7.26,7.36,299.0,91.0,224.90,24.4,11.3,17.26,53.0,41.0,44.75,3.2,2.4,2.65,12.8,7.8,10.04,1.0,83.733333,0
1,4,185777,294638,2191-03-16 00:28:00,2191-03-23 18:41:00,1,2143-05-12 00:00:00,NaN,2191-03-16 00:29:31,2191-03-17 16:46:31,F,47.8450,0,0,0,0,0,0,0,0,0,0,0,0,1,35,4,26,1,0,0,0,0,0,0,0,0,0,0,0,0,0,111.0,74.0,89.217391,100.333,69.000000,85.333321,139.0,97.0,118.000000,81.0,55.0,69.000000,37.444445,36.333334,36.844445,2.1,2.1,2.10,7.47,7.47,7.47,183.0,183.0,183.00,9.7,9.7,9.70,10.0,10.0,10.00,0.5,0.5,0.50,10.6,10.5,10.55,0.0,NaN,0
2,6,107064,228232,2175-05-30 07:15:00,2175-06-15 16:00:00,1,2109-06-21 00:00:00,NaN,2175-05-30 21:30:54,2175-06-03 13:39:54,F,65.9407,0,0,0,0,0,0,0,0,0,0,0,0,0,24,4,11,0,0,0,0,0,0,0,1,0,0,0,0,0,0,100.0,76.0,84.160000,100.000,72.666702,84.539218,187.0,127.0,153.647059,72.0,40.0,56.558824,37.333332,36.000002,36.515152,NaN,NaN,NaN,NaN,NaN,NaN,214.0,181.0,197.50,10.6,10.6,10.60,65.0,62.0,63.50,11.7,10.0,10.85,9.8,9.2,9.50,0.0,NaN,0
3,9,150750,220597,2149-11-09 13:06:00,2149-11-14 10:15:00,1,2108-01-26 00:00:00,2149-11-14 00:00:00,2149-11-09 13:07:02,2149-11-14 20:52:14,M,41.7902,1,1,0,0,0,0,0,0,0,0,1,0,0,31,5,35,0,1,0,0,0,0,0,0,0,0,1,0,0,0,111.0,82.0,92.500000,132.000,67.000000,98.850000,217.0,106.0,159.375000,107.0,53.0,79.525000,37.888887,35.500001,37.049383,2.7,1.9,2.33,7.43,7.39,7.41,178.0,129.0,153.75,13.7,7.5,10.60,17.0,16.0,16.50,1.4,1.2,1.30,15.4,12.9,14.10,1.0,118.333333,0
4,11,194540,229441,2178-04-16 06:18:00,2178-05-11 19:00:00,1,2128-02-22 00:00:00,2178-11-14 00:00:00,2178-04-16 06:19:32,2178-04-17 20:21:05,F,50.1483,0,0,0,0,0,0,0,0,0,0,0,0,0,25,2,29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,101.0,70.0,84.958333,89.000,58.000000,71.416667,118.0,91.0,105.166667,70.0,38.0,52.541667,37.388891,36.333334,36.805556,NaN,NaN,NaN,NaN,NaN,NaN,129.0,126.0,127.50,12.8,9.3,11.05,19.0,14.0,16.50,0.7,0.7,0.70,12.6,12.5,12.55,0.0,NaN,0

# Filtering

## Row-wise

In [ ]:
### AGE

# keep only patients in the age range of 18 - 90 years old
df = extract[(extract['age_hosp_in'] >= 18) & (extract['age_hosp_in'] <= 90)]

# round ages to integer
df['age_hosp_in'] = df['age_hosp_in'].astype(int)

<ipython-input-29-92bc8968f899>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age_hosp_in'] = df['age_hosp_in'].astype(int)

In [ ]:
### MECHANICAL VENTILATION

# keep only mechanically ventilated patients
df = df[df['mechvent'] == 1]

## Column-wise

In [ ]:
# keep only relevant columns
output = df[['hospital_expire_flag', 'age_hosp_in', 'gender',
       'hypertension_uncomplicated', 'hypertension_complicated',
       'diabetes_uncomplicated', 'diabetes_complicated', 'malignancy',
       'hematologic', 'metastasis', 'peripheral_vascular', 'hypothyroidism',
       'congestive_heart_failure', 'stroke', 'liver_disease', 'sapsii', 'sofa',
       'oasis', 'sepsis', 'organ_failure', 'sev_resp_fail', 'sev_coag_fail',
       'sev_liver_fail', 'sev_cardio_fail', 'sev_cns_fail', 'sev_ren_fail',
       'respiratory_dys', 'cardiovascular_dys', 'renal_dys', 'hematologic_dys', 'metabolic_dys',
       'neurologic_dys', 'heartrate_max', 'heartrate_min', 'heartrate_mean',
       'meanbp_max', 'meanbp_min', 'meanbp_mean', 'sysbp_max', 'sysbp_min',
       'sysbp_mean', 'diasbp_max', 'diasbp_min', 'diasbp_mean', 'tempc_max',
       'tempc_min', 'tempc_mean', 'lactate_max', 'lactate_min', 'lactate_mean',
       'ph_max', 'ph_min', 'ph_mean', 'glucose_max', 'glucose_min',
       'glucose_mean', 'wbc_max', 'wbc_min', 'wbc_mean', 'bun_max', 'bun_min',
       'bun_mean', 'creatinine_max', 'creatinine_min', 'creatinine_mean',
       'hemoglobin_max', 'hemoglobin_min', 'hemoglobin_mean',
       'vent_dur_hours', 'rrt']]

In [ ]:
# map for renaming columns
rename_map = {
    'hospital_expire_flag':"Hospital Mortality",
    'age_hosp_in' : "Age",
    'gender': "Gender",
    'hypertension_uncomplicated':"Uncomplicated Hypertension",
    'hypertension_complicated':"Complicated Hypertension",
    'diabetes_uncomplicated':"Uncomplicated Diabetes",
    'diabetes_complicated':"Complicated Diabetes",
    'malignancy': "Malignancy",
    'hematologic': "Hematologic Disease",
    'metastasis': 'Metastasis',
    'peripheral_vascular':'Peripheral Vascular Disease',
    'hypothyroidism':'Hypothyroidism',
    'congestive_heart_failure': "Chronic Heart Failure",
    'stroke':"Stroke",
    'liver_disease':"Liver Disease",
    'sapsii': "SAPS II",
    'sofa': "SOFA",
    'oasis':"OASIS",
    'sepsis':"Sepsis",
    'organ_failure':"Any Organ Failure",
    'sev_resp_fail':"Severe Respiratory Failure",
    'sev_coag_fail':"Severe Coagulation Failure",
    'sev_liver_fail':"Severe Liver Failure",
    'sev_cardio_fail':"Severe Cardiovascular Failure",
    'sev_cns_fail':"Severe Central Nervous System Failure",
    'sev_ren_fail': "Severe Renal Failure",
    'respiratory_dys': "Respiratory Dysfunction",
    'cardiovascular_dys': "Cardiovascular Dysfunction",
    'renal_dys': "Renal Dysfunction",
    'hematologic_dys': "Hematologic Dysfunction",
    'metabolic_dys': "Metabolic Dysfunction",
    'neurologic_dys': "Neurologic Dysfunction",
    'heartrate_max': "Max Heart Rate",
    'heartrate_min': "Min Heart Rate",
    'heartrate_mean': "Mean Heart Rate",
    'meanbp_max': "Max MAP",
    'meanbp_min': "Min MAP",
    'meanbp_mean': "Mean MAP",
    'sysbp_max': "Max Systolic Pressure",
    'sysbp_min': "Min Systolic Pressure",
    'sysbp_mean': "Mean Systolic Pressure",
    'diasbp_max': "Max Diastolic Pressure",
    'diasbp_min': "Min Diastolic Pressure",
    'diasbp_mean': "Mean Diastolic Pressure",
    'tempc_max': "Max Temperature",
    'tempc_min': "Min Temperature",
    'tempc_mean': "Mean Temperature",
    'lactate_max': "Max Lactate",
    'lactate_min': "Min Lactate",
    'lactate_mean': "Mean Lactate",
    'ph_max': "Max pH",
    'ph_min': "Min pH",
    'ph_mean': "Mean pH",
    'glucose_max': "Max Glucose",
    'glucose_min': "Min Glucose",
    'glucose_mean': "Mean Glucose",
    'wbc_max': "Max WBC",
    'wbc_min': "Min WBC",
    'wbc_mean': "Mean WBC",
    'bun_max': "Max BUN",
    'bun_min': "Min BUN",
    'bun_mean': "Mean BUN",
    'creatinine_max': "Max Creatinine",
    'creatinine_min': "Min Creatinine",
    'creatinine_mean': "Mean Creatinine",
    'hemoglobin_max': "Max Hemoglobin",
    'hemoglobin_min': "Min Hemoglobin",
    'hemoglobin_mean': "Mean Hemoglobin",
    'vent_dur_hours': "Ventilation Duration",
    'rrt': "RRT"
}

In [ ]:
# rename the columns
output.rename(columns = rename_map, inplace = True, errors = 'raise')

<ipython-input-33-1df180ed0b75>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output.rename(columns = rename_map, inplace = True, errors = 'raise')

In [ ]:
# verify the rename action
output.head()

,Hospital Mortality,Age,Gender,Uncomplicated Hypertension,Complicated Hypertension,Uncomplicated Diabetes,Complicated Diabetes,Malignancy,Hematologic Disease,Metastasis,...,Min BUN,Mean BUN,Max Creatinine,Min Creatinine,Mean Creatinine,Max Hemoglobin,Min Hemoglobin,Mean Hemoglobin,Ventilation Duration,RRT
0,0,76,M,0,0,0,0,0,0,0,...,41.0,44.75,3.2,2.4,2.65,12.8,7.8,10.04,83.733333,0
3,1,41,M,1,0,0,0,0,0,0,...,16.0,16.50,1.4,1.2,1.30,15.4,12.9,14.10,118.333333,0
5,1,72,M,1,0,0,0,0,0,0,...,28.0,33.50,1.7,1.3,1.50,13.3,7.8,10.23,82.666667,0
6,0,39,F,1,0,1,0,0,0,0,...,13.0,15.33,0.8,0.5,0.63,12.3,7.9,10.88,6.816667,0
7,0,47,F,0,0,0,0,0,0,0,...,10.0,10.50,0.8,0.7,0.75,13.7,9.1,10.77,0.833333,0

# Export

In [ ]:
# export the filtered data to .csv file
output.to_csv('filtered_data.csv', index = False)